
















<html>
	<head>
		<title>LiteQ Feedback System</title>
		<link rel="stylesheet" href="../static/css/base.css">
		<link rel="stylesheet" href="../static/css/styles.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="topHead">

			<div class="topLeft">
				<div class="spacer">
				<!-- #BeginEditable "headline" -->Welcome,
			   KAUSTHUB NAARAYAN B .&nbsp;&nbsp;&nbsp;&nbsp;USN : 1BM12IS029
<!-- #EndEditable -->
			   </div>
		   </div>

			<div class="topRight">

				<a href="logout?confirm=1"><div class="logoutBtn">Logout</div></a>

			</div>
		</div>
		<div class="topBar">
			<div class="title">
				<h3>Please give your Course End Survey for 6th Semester </h3>
			</div>
		</div>
		<!-- #BeginEditable "text" -->
		<form method="post" action="rateSessions" name="form1" style="box-shadow: none;">
		<div class="cardContainer">


		<input type="hidden" name="SemesterID" value="06-IS-A">



<div class="card">

	<h5 class="name"> Probability Statistics And Queuing </h3>
	<a class="evaluateContainer" href="evaluation_parameter.jsp?id=193&subject=13&name=. SOWMYA K S .&subjectN=PROBABILITY STATISTICS AND QUEUING "><div class="evaluate">Evaluate</div></a>
</div>






<div class="card">

	<h5 class="name"> Object Oriented Modelling And Design </h3>
	<a class="evaluateContainer" href="evaluation_parameter.jsp?id=187&subject=12&name=. MAHALKSHMI B S .&subjectN=OBJECT ORIENTED MODELING ANDDESIGN PATTERNS "><div class="evaluate">Evaluate</div></a>
</div>






<div class="card">

	<h5 class="name"> WEB PROGRAMMING </h3>
	<a class="evaluateContainer" href="evaluation_parameter.jsp?id=182&subject=15&name=. SHREELATHA R .&subjectN=WEB PROGRAMMING "><div class="evaluate">Evaluate</div></a>
</div>






<div class="card">

	<h5 class="name"> ADVANCED DATA STRUCTURES </h3>
	<a class="evaluateContainer" href="evaluation_parameter.jsp?id=180&subject=17&name=. DR SHAMBHAVI B R .&subjectN=ADVANCED DATA STRUCTURES "><div class="evaluate">Evaluate</div></a>
</div>






<div class="card">

	<h5 class="name"> COMPUTER NETWORKS </h3>
    <a class="evaluateContainer" href="evaluation_parameter.jsp?id=186&subject=14&name=. PREETHA S .&subjectN=COMPUTER NETWORKS "><div class="evaluate">Evaluate</div></a>
</div>






<div class="card">

	<h5 class="name"> SOFTWARE ENGINEERING </h3>
	<a class="evaluateContainer" href="evaluation_parameter.jsp?id=188&subject=11&name=. RAJESHWARI K .&subjectN=SOFTWARE ENGINEERING "><div class="evaluate">Evaluate</div></a>
</div>






                 <!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">
				  <TR>
				  <TD><a href=""><B></a><br></TD>
				  <TD><a href="mailHtml.html"><B></B></a></TD>
				  </TR>
				  <tr>
				  <td>
                   <font size="3" color="#990100"><b> </span></b></font></td></b></font>
                    </td>

                    <td align="right"></td>
                  </tr></table>-->
		</div>
	  </form>
                  <!-- #EndEditable -->

<!--   <tr><td colspan="2">
   <FONT SIZE="3" FACE="courier" COLOR=blue><MARQUEE WIDTH=100% BEHAVIOR=SCROLL BGColor="#CAE6F9" >Based on the 2nd Feedback Session, 10 faculty members have been counselled.</MARQUEE></FONT>
</td></tr> -->
<!--
	<tr><td colspan="2">
   <FONT SIZE="3" FACE="courier" color="#990100"><MARQUEE WIDTH=100% BEHAVIOR=SCROLL BGColor="#CAE6F9" ><b>This Feedback Session contains both Students Feedback and Institutional Feedback.</b></MARQUEE></FONT>
</td></tr> -->

<!-- <tr><td colspan="2">
   <FONT SIZE="3" FACE="courier" color="#990100"><MARQUEE WIDTH=100% BEHAVIOR=SCROLL BGColor="#CAE6F9" ><b>Resource Values wishes you and your family a very Happy UGADI</b></MARQUEE></FONT>
</td></tr> -->

<!--<tr><td colspan="2">
   <FONT SIZE="3" FACE="courier" color="#990100"><MARQUEE WIDTH=100% BEHAVIOR=SCROLL BGColor="#CAE6F9" ><b>This is the 3rd feedback session, MeritQ wishes for your Examination</b></MARQUEE></FONT>
</td></tr>-->


<tr></tr>
<!-- <tr><td></td>
 <td align="right" ><a href="mail.jsp"><B>Suggestions - (if any)</B></a></td>
</tr> -->
<div class="logout">

			</div>

<div class="footer">
	<div class="bottomLeft">
		Course End Survey 2015
	</div>
	<div class="bottomRight">
		Copyrights © 2015. All Rights Reserved
	</div>
</div>


</body>
<!-- #EndTemplate -->
</html>
